<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link rel="stylesheet" href="/styles/main.css" type="text/css" />

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/Lighthouse-Eats/images/banner.png">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>

  <body>
    <!--  Header  -->
    <header>
      <div class="container">
        <div class="logo">
          <h1>LightHouse<span>Eats</span></h1>
        </div>
        <div class="currentDetails">
          <div class="header-option">
            <span>Toronto</span>
          </div>
          <div class="header-option">
            <span>Pickup Now</span>
          </div>
        </div>
        <div class="searchBar">
          <div class="header-option">Search</div>
          <div class="header-option">Sign in</div>
        </div>
      </div>
    </header>

    <!--  Banner -->
  <div class="box-area">
    <div class="banner-area">
    </div>
    <h1>The Lighthouse</h1>
  </div>

  <!-- Menu  -->
  <div class="listings">
    <div class="container">
      <div class="header">
        <div class="header-title">

          <!--THE APPETIZERS-->
          <h2>Appetizers</h2>
        </div>
        <div class="header-viewOptions">
          <div class="viewAll">
          </div>
          <div class="viewMore">
            </span>
          </div>
        </div>
      </div>
      <div class="listings-grid">
        <div class="listings-col">
          <div class="listings-grid-element">
            <div class="image">
              <img
                src="https://cdn.shopify.com/s/files/1/0287/2662/4338/products/bouchees-de-saumon-a-lerable-180-gr-569452_900x.jpg?v=1615583541"
              />
            </div>
            <div class="text">
              <div class="text-title">
                <h3>Candied Salmon</h3>
                <div class="info">
                  <span> 18.99 | Ready in 20 minutes </span>
                </div>
              </div>
              <div class="rating">
                <span class="circle"> + </span>
              </div>
            </div>
            <div class="text-lower">
              <span class="smallText"
                >Sweet and smoky in flavour, our candied salmon is local favourite </span
              >
            </div>
          </div>
          <div class="listings-grid-element">
            <div class="image">
              <img
                src="https://www.saq.com/media/wysiwyg/bouchees-petoncles-poeles-salsa-mangue-1_1602082571_1.jpg"
              />
            </div>
            <div class="text">
              <div class="text-title">
                <h3>Scallop Bites</h3>
                <div class="info">
                  <span> 12.99 | Ready in 20 minutes </span>
                </div>
              </div>
              <div class="rating">
                <span class="circle"> + </span>
              </div>
            </div>
            <div class="text-lower">
              <span class="smallText"
                > Tender and buttery, our bites pair well with any of our salads </span
              >
            </div>
          </div>
          <div class="listings-grid-element">
            <div class="image">
              <img
                src="https://lh3.googleusercontent.com/TBZy2O41C5nWwCSopGhj2pSLbh6NRSOeZzKUC49gE9eTBPUkxDLHzih9SSSF2k39AsvP2WhCDVySkjY-xlNlqQ=s320-c-rw-v1-e365"
              />
            </div>
            <div class="text">
              <div class="text-title">
                <h3>Maple Sauteed Shrimp</h3>
                <div class="info">
                  <span> 15.99 | Ready in 15 MINS </span>
                </div>
              </div>
              <div class="rating">
                <span class="circle"> + </span>
              </div>
            </div>
            <div class="text-lower">
              <span class="smallText"
                > Sweetened with Canadian maple syrup and sauteed to a lighly cripsy texture </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- THE ENTREES -->
  <div class="listings">
    <div class="container">
      <div class="header">
        <div class="header-title">
          <h2>Entrees &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
        </div>
        <div class="header-viewOptions">
          <div class="viewAll">
          </div>
          <div class="viewMore">
            </span>
          </div>
        </div>
      </div>
      <div class="listings-grid">
        <div class="listings-col">
          <div class="listings-grid-element">
            <div class="image">
              <img
                src="https://images.squarespace-cdn.com/content/v1/51378900e4b02119d18461e6/6b438d7d-7bd4-4b73-b882-0a4a9235713b/black+sea+bass+TW8kFVRNTwKckUevzMv7_sea-bass-recipe-5393.jpg?format=750w"
              />
            </div>
            <div class="text">
              <div class="text-title">
                <h3>Oven-Baked Sea Bass</h3>
                <div class="info">
                  <span> 19.99 | Ready in 20 minutes </span>
                </div>
              </div>
              <div class="rating">
                <span class="circle"> + </span>
              </div>
            </div>
            <div class="text-lower">
              <span class="smallText"
                > With a mediterrean style marinade of olive oil, garlic and black-pepper, our oven-baked bass is a coastal treat </span
              >
            </div>
          </div>
          <div class="listings-grid-element">
            <div class="image">
              <img
                src="https://iheartumami.com/wp-content/uploads/2020/07/Keto-Salmon-Recipe-Air-Fried-I-Heart-Umami-3-700x1050.jpg.webp"
              />
            </div>
            <div class="text">
              <div class="text-title">
                <h3>Salmon Teryaki </h3>
                <div class="info">
                  <span> 16.99 | Ready in 20 minutes </span>
                </div>
              </div>
              <div class="rating">
                <span class="circle"> + </span>
              </div>
            </div>
            <div class="text-lower">
              <span class="smallText"
                > A glossy and umami-packed flavour paired with fresh salmon </span
              >
            </div>
          </div>
          <div class="listings-grid-element">
            <div class="image">
              <img
                src="https://www.killingthyme.net/wp-content/uploads/2021/05/grilled-swordfish-3-720x440.jpg"
              />
            </div>
            <div class="text">
              <div class="text-title">
                <h3>Grilled Swordfish Steaks</h3>
                <div class="info">
                  <span> 22.99 | Ready in 30 minutes </span>
                </div>
              </div>
              <div class="rating">
                <span class="circle"> + </span>
              </div>
            </div>
            <div class="text-lower">
              <span class="smallText"
                > Crispy lemon and basil flavoured Swordfish steaks drizzled lighly with balmasic vinegar </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--The Salads-->

  <div class="listings">
    <div class="container">
      <div class="header">
        <div class="header-title">
          <h2>Salads &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
        </div>
        <div class="header-viewOptions">
          <div class="viewAll">
          </div>
          <div class="viewMore">
            </span>
          </div>
        </div>
      </div>
      <div class="listings-grid">
        <div class="listings-col">
          <div class="listings-grid-element">
            <div class="image">
              <img
                src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/10/7/0/FNK_Greek-Salad_s4x3.jpg.rend.hgtvcom.826.620.suffix/1383814482359.jpeg"
              />
            </div>
            <div class="text">
              <div class="text-title">
                <h3> Greek Salad</h3>
                <div class="info">
                  <span> 9.99 | Ready in 10 minutes </span>
                </div>
              </div>
              <div class="rating">
                <span class="circle"> + </span>
              </div>
            </div>
<<<<<<< HEAD
            <div class="text-lower">
              <span class="smallText"
                >Sweet and smoky in flavour, our candied salmon is favourite</span
              >
            </div>
          </div>
          <div class="listings-grid-element">
            <div class="image">
              <img
                src="https://thishealthytable.com/wp-content/uploads/2018/08/cantaloupe-cucumber-salad-1-of-3-735x1118.jpg"
              />
            </div>
            <div class="text">
              <div class="text-title">
                <h3>Cantaloupe Cucumber Salad </h3>
                <div class="info">
                  <span> 12.99 | Ready in 10 minutes </span>
                </div>
              </div>
              <div class="rating">
                <span class="circle"> + </span>
              </div>
            </div>
            <div class="text-lower">
              <span class="smallText"
                > A lightly sweetened salad with a fresh summery taste </span
              >
            </div>
          </div>
          <div class="listings-grid-element">
            <div class="image">
              <img
                src="https://www.tasteofhome.com/wp-content/uploads/2020/03/Easy-Citrus-Seafood-Salad_EXPS_TOHJJ20_242786_E02_05_1b-6.jpg?fit=700,1024"
              />
            </div>
            <div class="text">
              <div class="text-title">
                <h3>Seafood Salad</h3>
                <div class="info">
                  <span> 15.99 | Ready in 15 minutes </span>
                </div>
              </div>
              <div class="rating">
                <span class="circle"> + </span>
              </div>
            </div>
            <div class="text-lower">
              <span class="smallText"
                > A cool but flavourful salad with fresh and responsibly sourced seafood </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--The Desserts-->

  <div class="listings">
    <div class="container">
      <div class="header">
        <div class="header-title">
          <h2>Desserts &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
        </div>
        <div class="header-viewOptions">
          <div class="viewAll">
          </div>
          <div class="viewMore">
            </span>
          </div>
        </div>
      </div>
      <div class="listings-grid">
        <div class="listings-col">
          <div class="listings-grid-element">
            <div class="image">
              <img
                src="https://simpleseasonal.com/wp-content/uploads/2016/01/flourless-chocolate-cake-raspberry-sauce.jpg"
              />
            </div>
            <div class="text">
              <div class="text-title">
                <h3> Chocolate Cake</h3>
                <div class="info">
                  <span> 9.99 for slice, 29.99 for whole cake | Freshly made daily </span>
                </div>
              </div>
              <div class="rating">
                <span class="circle"> + </span>
              </div>
            </div>
            <div class="text-lower">
              <span class="smallText"
                > Featuring seasonal berry glazes | Currently with a raspberry glaze </span
              >
            </div>
          </div>
          <div class="listings-grid-element">
            <div class="image">
              <img
                src="https://images-gmi-pmc.edge-generalmills.com/493ba1aa-8d32-47e1-a6e3-399e159be720.jpg"
              />
            </div>
            <div class="text">
              <div class="text-title">
                <h3> New York Style Cheesecake </h3>
                <div class="info">
                  <span> 12.99 for slice, 39.99 for whole cake | Freshly made daily </span>
                </div>
              </div>
              <div class="rating">
                <span class="circle"> + </span>
              </div>
            </div>
            <div class="text-lower">
              <span class="smallText"
                > A dense yet smooth cream cheese base with our speciality honeyed crust </span
              >
            </div>
          </div>
          <div class="listings-grid-element">
            <div class="image">
              <img
                src="https://www.datocms-assets.com/20941/1606232174-ice-cream-vs-gelato-vs-sorbet-range-of-ice-cream-scoops-min.jpeg?w=1000&fit=max&fm=jpg"
              />
            </div>
            <div class="text">
              <div class="text-title">
                <h3>Assorted Gelato</h3>
                <div class="info">
                  <span> 7.99 for small, 8.99 for medium, 9.99 for large | For whole tub: See in store for more details </span>
                </div>
              </div>
              <div class="rating">
                <span class="circle"> + </span>
              </div>
            </div>
            <div class="text-lower">
              <span class="smallText"
                > Chocolate | Vanilla | Butterscotch | Coffee | Cookie Dough | Rum Raisin | Strawberry </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Drinks -->

    <div class="listings">
      <div class="container">
        <div class="header">
          <div class="header-title">
            <h2> Drinks &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
          </div>
          <div class="header-viewOptions">
            <div class="viewAll">
            </div>
            <div class="viewMore">
              </span>
            </div>
          </div>
        </div>
        <div class="listings-grid">
          <div class="listings-col">
            <div class="listings-grid-element">
              <div class="image">
                <img
                  src="https://www.sanpellegrino.com/media//canada/taste/sanpellegrino-taste/riga_01new.jpg"
                />
              </div>
              <div class="text">
                <div class="text-title">
                  <h3> San Pellergrino Mineral Water</h3>
                  <div class="info">
                    <span> 3.99 </span>
                  </div>
                </div>
                <div class="rating">
                  <span class="circle"> + </span>
                </div>
              </div>
              <div class="text-lower">
                <span class="smallText"
                  > Also available in lime flavour </span
                >
              </div>
            </div>
            <div class="listings-grid-element">
              <div class="image">
                <img
                  src="https://www.schlotzskys.com/-/media/schlotzskys/menu/beverages/coke-products_874x440.jpg?v=1&d=20210630T085825Z"
                />
              </div>
              <div class="text">
                <div class="text-title">
                  <h3> Coke-Cola Products </h3>
                  <div class="info">
                    <span> 2.99 </span>
                  </div>
                </div>
                <div class="rating">
                  <span class="circle"> + </span>
                </div>
              </div>
              <div class="text-lower">
                <span class="smallText"
                  > Coke-Cola | Diet Coke | Coke Zero | Sprite </span
                >
              </div>
            </div>
            <div class="listings-grid-element">
              <div class="image">
                <img
                  src="https://images.squarespace-cdn.com/content/v1/56ec8110356fb0c050b7bcca/1533175655225-P7LV3L8MQQ9R2VAUSVU4/KONA+COFFEE+AND+TEA+LATTE?format=1000w"
                />
              </div>
              <div class="text">
                <div class="text-title">
                  <h3> Coffee Drinks </h3>
                  <div class="info">
                    <span> See in store for more details </span>
                  </div>
                </div>
                <div class="rating">
                  <span class="circle"> + </span>
                </div>
              </div>
              <div class="text-lower">
                <span class="smallText"
                  > </span>
              </div>
            </div>
=======
>>>>>>> 3c3cbe7b8ef7d30702d0041f82076f6e0da133ef
          </div>
        </div>
      </div>
    </div>
<<<<<<< HEAD
</body>
=======

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();
    </script>
  </body>
>>>>>>> 3c3cbe7b8ef7d30702d0041f82076f6e0da133ef
</html>

