<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link rel="stylesheet" href="/styles/widget.css" type="text/css" />

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/Lighthouse-Eats/images/banner.png">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/public/scripts/index.js"></script>
    <script type="text/javascript" src="/scripts/widgets.js"></script>

  </head>

  <body>
    <!--  Header  -->
    <header>
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
      <div class="container">
        <div class="logo">
          <h1>LightHouse<span>Eats</span></h1>
        </div>
        <div class="currentDetails">
          <div class="header-option">
            <span>Toronto</span>
          </div>
          <div class="header-option">
            <span>Pickup Now</span>
          </div>
        </div>
        <div class="searchBar">
          <div class="header-option">
            <button class="cart-button">
              <a href="widgets">Cart</a>
              <span class="added"></span>
              <i class="fa fa-shopping-cart" style="font-size: 0.73em;"></i>
            </button>
          </div>
        </div>
      </div>
    </header>

    <!--  Banner -->
  <div class="box-area">
    <div class="banner-area">
      <h1>The Lighthouse</h1>
          <!--Form with header-->
          <p>
            4.0 ∙ ★★★★ ∙ (45) ∙ $$ ∙ Restaurant <br>
            662 King St W #101, Toronto, ON M5V 1M7 <br>
            Open ∙ Closes 11 pm. <br>
            Takeout ∙ Pickup ∙ Dine-in <br>
            </p>
    </div>
  </div>
<div class="container">
  <div id="pomodoro-app">
    <div id="container">
      <div id="timer">
        <div id="time">
          <span id="minutes">25</span>
          <span id="colon">:</span>
          <span id="seconds">00</span>
        </div>
        <div id="filler"></div>
      </div>
      <div id="buttons">
        <button id="work">Order Timer</button>
      </div>
    </div>
  </div>
         <div class="order">
           <h2> Your order is ready for pick up!</h2>
           <h4> Order #9H5Ab </h4>
           <p>
             At the end of the timer, your order will be ready for pickup. Please come to our restaurant location shown in the google maps embed below.
             We hope you enjoy! Come again soon!
           </p>
           <h4> — The Lighthouse</h4>
         </div>

</div>
</div>
</div>
</div>
</section>
</div>
<section id="contact">
  <div class="contact-container container">
    <div class="contact-img">
      <div class="gmap_canvas"><iframe width="800" height="210" id="gmap_canvas" src="https://maps.google.com/maps?q=662%20King%20St%20W,%20Toronto,%20ON&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-a.com"></a><br><style>.mapouter{position:relative;text-align:center;height:210px;width:1080px;}</style><a href="https://www.embedgooglemap.net">google map html widget</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:210px;width: 100%; border-radius: 20px; padding-bottom: 2%; align-self: center; }</style></div>
    </div>
  </div>
</section>
<footer id="footer">
</footer>
</body>
</body>
</html>
