body {
  display: flex;
  font-family: sans-serif;
  background: rgb(120, 178, 204);
}

.container {
  width: calc(90%);
  margin: auto;
}

header {
  .logo {
    h1 {
      font-weight: 300;
      }
    }
  }
  .container {
    display: flex;
    align-items: center;
  }
  .login-options {
    margin-left: auto;
  }
  .options {
    padding-left: 5rem;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
    svg {
      margin-right: 1rem;
      display: inline-flex;
    }
  }
  .header-options,
  .login-options {
    display: flex;
  }

